{% extends "Master/MenuBgTemplate.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="mb-4"><i class="fa-solid fa-triangle-exclamation"></i> Visor de errores</h1>
        {% if fsc.datosArchivos %}
            {% for datos in fsc.datosArchivos %}
                <div class="card shadow mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <a href="https://facturascripts.com/errores/{{ datos.hash }}" target="_blank">
                            🚨 {{ datos.hash }}
                        </a>
                        <div>
                            <span class="me-3">{{ datos.fecha }}</span>
                            <a href="?action=delete&hash={{ datos.hash }}" class="btn btn-sm btn-outline-danger"
                               onclick="return confirm('¿Está seguro de eliminar este error?');">
                                <i class="fa-solid fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ datos.datos.message|raw|nl2br }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="{{ fsc.kernelVersion2024 ? 'bg-warning text-dark rounded' : 'text-white text-bg-warning rounded-5' }} text-center p-1">
                {{ trans('no-data') }}
            </div>
        {% endif %}
    </div>
{% endblock %}